{{define "edit"}}
{{template "_head"}}
{{template "_navbar"}}
<div class="container">
    <body> 
        <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-5">Edit Product</h1>
                        <p class="lead">Editing Details</p>
                    </div>
                </div>
                <form method="POST" action="update">
                    <input type="hidden" name="id" value="{{.Id}}">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" name="name" value="{{.Name}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <input type="text" name="description" value="{{.Description}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="price">Price:</label>
                                <input type="number" name="price" value="{{.Price}}" class="form-control" step="0.01">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="amount">Amount:</label>
                                <input type="number" name="amount" value="{{.Amount}}" class="form-control" step="1">
                            </div>
                        </div>
                    </div>
                    <button type="submit" value="save" class="btn btn-success">Update</button>
                    <a class="btn btn-info" href="/">Back</a>
                </form>
        </body>
    </div>    
</html>
{{end}}